.header-h2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-color: #D8BFD8;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}